<!DOCTYPE html>
<html lang="en">

<head>
      <title>FTTI - UNJAYA</title>
      {% include 'base/login/head.html' %}
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body class="">
      <main class="main-content  mt-0">
            <section>
                  <div class="page-header min-vh-100">
                        <div class="container">
                              <div class="row">
                                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">

                                          {% if session.get('login_error') %}
                                          <script>
                                              Swal.fire({
                                                  icon: 'error',
                                                  title: 'Gagal!',
                                                  text: '{{ session["login_error"] }}',
                                                  showConfirmButton: false,
                                                  timer: 1500
                                              }).then(() => {
                                                  fetch('{{ url_for("auth.clear_login_error") }}', {
                                                      method: 'POST'
                                                  });
                                              });
                                          </script>
                                          {% endif %}


                                          <div class="card card-plain">
                                                <div class="card-header pb-0 text-start">
                                                      <h4 class="font-weight-bolder">Masuk</h4>
                                                      <p class="mb-0">Masukkan data diri anda</p>
                                                </div>
                                                <div class="card-body">
                                                      <form role="form" method="POST"
                                                            action="{{ url_for('auth.login') }}">
                                                            <div class="mb-3">
                                                                  <input type="username"
                                                                        class="form-control form-control-lg"
                                                                        placeholder="Username" aria-label="username"
                                                                        name="username" required>
                                                            </div>
                                                            <div class="mb-3">
                                                                  <input type="password"
                                                                        class="form-control form-control-lg"
                                                                        placeholder="Password" aria-label="Password"
                                                                        name="password" required>
                                                            </div>
                                                            <div class="text-center">
                                                                  <button type="submit"
                                                                        class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Masuk</button>
                                                            </div>
                                                      </form>
                                                </div>
                                          </div>
                                    </div>
                                    <div
                                          class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                                          <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden"
                                                style="background-image: url('https://unjaya.ac.id/wp-content/uploads/2018/04/Gedung-Unjani-Yogyakarta.jpg');
          background-size: cover;">
                                                <span class="mask bg-gradient-primary opacity-4"></span>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>
      </main>

      {% include 'base/login/foot.html' %}

</body>

</html>