<script src="{{ url_for('static', filename='js/dosen/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/webfont.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/jquery.scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/jquery.sparkline.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/circles.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/bootstrap-notify.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/jsvectormap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/world.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/sweetalert.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/kaiadmin.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dosen/setting-demo.js') }}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        $("#basic-datatables").DataTable({});
    });
</script>