<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/dosen/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/dosen/plugins.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/dosen/kaiadmin.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/dosen/demo.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/dosen/style.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    .btn {
        display: inline-flex;
        align-items: center;
        padding: 5px 10px;
        margin: 2px;
        border: none;
        cursor: pointer;
    }

    .btn-edit {
        color: #4CAF50;
    }

    .btn-delete {
        color: #F44336;
    }

    .btn-tambah-user {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>