<!doctype html>
<html lang="en">

<head>
  <title>FTTI - UNJAYA</title>
  {% include 'base/dosen/head.html' %}
</head>

<body>

  <div class="wrapper">
    {% include 'base/dosen/sidebar.html' %}

    <div class="main-panel">
      <div class="main-header">
        <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
          <div class="container-fluid">
            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">

              <a href="{{ url_for('auth.logout') }}" style="color: black;">Keluar</a>

            </ul>
          </div>
        </nav>
      </div>

      <div class="container">
        <div class="page-inner">
          <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
              <h3 class="fw-bold mb-3">Dashboard</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'base/dosen/setting.html' %}

  </div>

  {% include 'base/dosen/foot.html' %}

</body>

</html>